.textInput{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 20px 1px;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
}


.textInput textarea{
    width: 300px;
    height: 100px;
    border-radius: 15px;
    padding: 10px;
    background-color: #eeeeee;
    color: #000000;
    outline: none;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 20px 1px;
}


.btn{
    margin-left: 10px;
    align-items: end;
    display: flex;
    justify-content: space-between;
    gap:100px;
    height: 100%;
    /* margin: 20px 0px; */
}
.btn button{
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 20px 1px;
    cursor: pointer;
}

.btn button:hover{
    opacity: 70%;
}


