.navbar{
    display: flex;
    justify-content: space-between;
    border: 1px solid transparent;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 20px 1px;    
    padding: 0 25px;
    max-width: 1440px;
    margin: auto;
}
.image{
    height:65px;
    width: 130px;
}

.history{
    width: 40px;
    height: 40px;
    background-color: white;
    color: var(--primary-color-dark);
    border:none;
    font-size:27px;
    border-radius:10px ;
    display: flex;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}
.searchButton{
    border: none;
    background-color: var(--primary-color-dark);
    width: 69px;
    height: 38px;
    color:white;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
.searchButton:hover{
    background-color: var(--primary-color-dark);
}
.input{
    width: 544px;
    height: 38px;
    background-color: white;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    padding-left: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition */

}
.input:focus{
    outline: none;
}

.list{
    list-style: none;
    display: flex;
    align-items: center;
}
.list li{
    margin-left: 30px;
    font-weight: 600;
    cursor: pointer;
    height: fit-content;
}

.list li:hover{
    color: #B0DAF1;
}