.body {
    width: 100vw;
    height: 100vh;
}

.image label {
    width: 30px;
    background-color: rgba(255, 255, 255, 0.54);
    border: none;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.636);
    text-align: center;
    position: absolute;
    z-index: 1;
    right: 5px;
    top: 5px;
    outline: none;
    cursor: pointer;
    margin: 0;
}

.image.activate label {
    background-color: cadetblue;
}

.image {
    position: relative;
    top: 0;
    left: 0;
    height: fit-content;
    z-index: 0;
    background-color: transparent;
}

.image img {
    width: 220px;
    height: 124px;
    border-radius: 10px;
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    cursor: pointer;
    position: relative;
    top: 0;
    left: 0;
}

.image p {
    position: absolute;
    margin: 0;
    width: 100%;
    background-color: transparent;
    font-size: 12px;
    text-align: center;
    bottom: 10px;
    left: 0;
    cursor: pointer;
    font-weight: 600;
}

.image p:hover {
    color: red;
}

.image input {
    position: absolute;
    background-color: white;
    color: #B53471;
    left: 5px;
    border-radius: 5px;
    width: 100px;
    top: 5px;
    border: none;
    outline: none;
    padding: 5px;
    font-weight: 600;

}


/* Brightness transition effect on hover */
.image img:hover {
    -webkit-filter: brightness(100%);
}

.hidden1{
    display: none;
}

.image:hover > input{
    display: block !important;
}
